hr {
background-color: blue;
width: 50%;
height:3px; }

.quote {
    color: yellow;
       }
#link {
    color: purple;
      }
.table1 {
    color: red;
        }
.table2 {
    color: green;
        }
 